[flake8]
max-line-length = 120
# flake8 doesn't understand Blender's property annotations
# WTF W503 and W504 contradict each other
# Very strange
ignore =
    F722,
    W503,
    F821,
    E401,
    E741

exclude = lib/yaml, tmp, dev, demo, backups
