/target
/.pytest_cache
__pycache__/
*.pyc
*.so
*.dylib
*.dll
*.pyd
*.whl
*.egg-info
.venv
/Cargo.lock
**/*.rs.bk
*.swp
*.so
*.dylib
*.dll
pkg/
node_modules/
__pycache__
.venv/
.pytest_cache/
android/local.properties
.idea
.vscode
.mypy_cache
backups
demo
work
dev
rig
tmp
___test.py
charmorph_updater/CharMorph_updater_status.json
build/
.gradle/
.cxx/
.externalNativeBuild/
*.apk
*.aar
